@page "/todo/"
@using Models

<h1>To-do List</h1>

<EditForm Model="@ModelTask">
    <div class="form-group">
    <label>
            Task
        </label>
    <InputText @bind-Value="ModelTask.Description"></InputText>
   </div>
   <div class="form-group">
   <label>
       Date 
   </label>
   <InputDate @bind-Value="ModelTask.DateCreated" disabled></InputDate>
   </div>
</EditForm>

@code
{
    public ToDoTask ModelTask {get;set;} = new ToDoTask();

}
