@page "/todo/"
@using Models

<h1>To-do List</h1>

<EditForm Model="@ModelTask" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
    <label>
            Task
        </label>
    <InputText @bind-Value="ModelTask.Description"></InputText>
   </div>
    <div class="form-group">
       <label>State</label>
       <InputSelect @bind-Value="ModelTask.TaskState">
            <option value="Active">Active</option>
            <option value="Hold">Hold</option>
            <option value="Removed">Removed</option>
       </InputSelect>
   </div>
   <div class="form-group">
   <label>
       Date 
   </label>
   <InputDate @bind-Value="ModelTask.DateCreated" disabled></InputDate>
   </div>
   <div class="form-group"> 
       <button type="submit">Save</button>
    </div>
</EditForm>

<ul>
    @if(ToDoList!=null)
    {
        @foreach (var item in ToDoList)
        {
            <li>@item.Description - @item.DateCreated.ToShortDateString()</li>
            
        }

    }
   
</ul>

@code
{
    public ToDoTask ModelTask {get;set;} = new ToDoTask();

    private List<ToDoTask> ToDoList = new List<ToDoTask>();
    

    private void HandleSubmit()
    {
        ToDoList.Add(ModelTask);
        ModelTask = new ToDoTask();
    }

}
